<!doctype html>
<html lang="en" ng-app="agendaApp">

<head>
  <meta charset="utf-8">
  <title>Agenda en Angular</title>
  <script src="node_modules/angular/angular.min.js"></script>
</head>

<body ng-controller="AgendaCtrl as agenda">

<div>
  <h1>Agenda AngularJS</h1>

  <div>
    <form>
      <div>
        <input type="text" ng-model="agenda.textoBusqueda" placeholder="Buscar...">

        <div>
          <button type="submit" ng-click="agenda.limpiarBusqueda()">
            Limpiar
          </button>
        </div>
      </div>
    </form>

    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contacto in agenda.contactos | filter:agenda.textoBusqueda">
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.apellido}}</td>
        <td>{{contacto.telefono}}</td>
        <td>{{contacto.email}}</td>
        <td>{{contacto.direccion}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- nuestro js -->
<script src="js/app.js"></script>

</body>
</html>
